.center
{
    width: 100%;
    height: 1400px;
}
.main
{
    padding: 50px 250px;
    background-color: rgba(216, 197, 111, 0.849);
    font-size: 30px;
}
.bottom
{
    width: 5.6%;
    float: right; 
    position: fixed;
    right: 5.9%;
    top: 200px;
}
.bottom ul{
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.bottom ul li{
    height: 20px;
    width: 35%;
    list-style: none;
    float: left;
    font: 0.9em Arial,Helvetica,sans-serif;
    margin-top: 1px;
}
.bottom ul li a{

    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    background: #808080;
    font-size: 21px;
    line-height: 30px;
}
.bottom ul li a:hover{
    background: #666;
    border-bottom: 1px dashed #f00;
}

.bottom1
{
    width: 5.6%;
    float: right; 
    position: fixed;
    left: 9.5%;
    top: 200px;
}
.bottom1 ul{
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.bottom1 ul li{
    height: 20px;
    width: 35%;
    list-style: none;
    float: left;
    font: 0.9em Arial,Helvetica,sans-serif;
    margin-top: 1px;
}
.bottom1 ul li a{

    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    background: #808080;
    font-size: 21px;
    line-height: 30px;
}
.bottom1 ul li a:hover{
    background: #666;
    border-bottom: 1px dashed #f00;
}

.bottom2
{
    width: 5.6%;
    float: right; 
    position: fixed;
    left: 15%;
    top: 200px;
}
.bottom2 ul{
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.bottom2 ul li{
    height: 20px;
    width: 110%;
    list-style: none;
    float: left;
    font: 0.9em Arial,Helvetica,sans-serif;
    margin-top: 1px;
}
.bottom2 ul li a{

    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    background: #808080;
    font-size: 20px;
    line-height: 40px;
}
.bottom2 ul li a:hover{
    background: #666;
    border-bottom: 1px dashed #f00;
}